[submodule "tunnel/tools/amneziawg-tools"]
	path = tunnel/tools/amneziawg-tools
	url = https://github.com/you-oops-dev/amneziawg-tools
[submodule "tunnel/tools/elf-cleaner"]
	path = tunnel/tools/elf-cleaner
	url = https://github.com/termux/termux-elf-cleaner
